.working {
  color: green;
  font-weight: bold;
}

.unused {
  font-weight: bold;
}

.undefined {
  color: grey;
  font-weight: bold;
}

.unfinished {
  color: orange;
  font-weight: bold;
}

.dysfunctional {
  color: red;
  font-weight: bold;
}

.depricated {
  color: #8EB400;
  font-weight: bold;
}

.internal {
  color: #7000FF;
  font-weight: bold;
}

.aging {
  color: green;
  font-weight: bold;
}